body,
html {
  font-family: "DejaVu Math TeX Gyre";
  transition: background-color 0.3s ease;
}

.theme-dark {
  background: rgb(40, 40, 40);
  color: white;
}

.theme-light {
  background: rgb(230, 230, 230);
  color: black;
}
header {
  margin: 25px;
  border-bottom: 10px solid darkgray;
}

main {
  text-align: center;
  margin: 25px;
}

#themeToggler,
#dropdown-menu,
#func,
#name {
  margin: 5px;
  width: auto;
  height: auto;
}
#link_about {
  margin: 5px;
  width: auto;
  height: auto;
  display: inline-block;
}
#link_ {
  margin: 5px;
  width: auto;
  height: auto;
  text-align: center;
}
#dropdown,
#input_,
#ans_btn,
#lbl {
  display: inline-block;
  margin: 5px;
  width: auto;
  height: auto;
}
.form-group {
  text-align: center;
  margin: 5px;
}
footer {
  margin: 25px;
  border-top: 10px solid darkgray;
}

#functions {
  margin: 10px;
  width: auto;
  height: auto;
}
