{% extends "source.html" %} {% block content %}
<h2 class="text-center text-primary" id="functions">Functions</h2>
<div class="container div-inline">
  {% for item in functions['functions'] %}
  <div class="container div-inline">
    <h3 class="text-success text-center" id="func">{{item["func"]}}</h3>
    <h4 class="text-primary text-center">{{item["mean"]}}</h4>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block footer %}
<a
  class="link-opacity-100 link-opacity-25-hover link-underline-info"
  href="{{ url_for('index') }}"
  id="link_"
>
  Back
</a>
{% endblock %}
